{{#if @visible}}
  {{#if @customCommitCancelComponent}}
    {{component @customCommitCancelComponent isActing=@isActing commit=@commit cancel=@cancel}}
  {{else}}
    <div class="commit-cancel {{strip-class-names @classNames}}">
      <button class="{{@buttonClasses}} commit" type="button" {{on "click" @commit}}>
        ✔
      </button>
      <button class="{{@buttonClasses}} cancel" type="button" {{on "click" @cancel}}>
        ✘
      </button>
    </div>
  {{/if}}
{{/if}}