{{#if @visible}}
  {{#if @customCommitCancelComponent}}
    {{component
      @customCommitCancelComponent
      isActing=@isActing
      commit=(optional @commit)
      cancel=(optional @cancel)
    }}
  {{else}}
    <div class="commit-cancel" ...attributes data-test-commit-buttons>
      <button
        class="{{@buttonClasses}} commit"
        type="button"
        data-test-commit-buttons-commit
        {{on "click" (optional @commit)}}
      >
        ✔
      </button>
      <button
        class="{{@buttonClasses}} cancel"
        type="button"
        data-test-commit-buttons-cancel
        {{on "click" (optional @cancel)}}
      >
        ✘
      </button>
    </div>
  {{/if}}
{{/if}}