<div
  class={{
    concat
    "field-for "
    @fieldClasses
    (if this.errors.length " error")
    (if @disabled " disabled")
    (if @readonly " readonly")
    " "
    this._testingClass
    " "
    this.using
    " -field"
  }}
  ...attributes
  data-test-field-for={{this._testingSelector}}
>
  <LabelFor @label={{@label}} @controlId={{this.controlId}} />
  {{#if this._showValue}}
    <button
      class="field-for-value-container {{
        if this._showControl "field-for-value-showing-control-callout"
      }}"
      data-tooltip={{@valueTooltip}}
      type="button"
      {{on "click" this.edit}}
    >
      {{#if @valueTooltip}}
        <AtttachTooltip>
          {{@valueTooltip}}
        </AtttachTooltip>
      {{/if}}
      {{#if this.displayValue includeZero=true}}
        {{this.displayValue}}
      {{else}}
        <span class="field-for-placeholder">
          {{@placeholder}}
        </span>
      {{/if}}
    </button>
  {{/if}}
  {{#if this.hasControlCallout}}
    <AttachPopover>
      @id={{this.guid}}
      @isShown={{this._showControl}}
      @showOn=""
      @hideOn=""
      @showDuration=0
      @hideDuration=0
      @arrow={{true}}
      <div class="field-for-control-container field-for-control-callout">
        <div class="field-for-control-and-commit-buttons">
          {{#if (hasBlock)}}
            {{yield
              (hash
                control=(component
                  this.control
                  value=(readonly this._value)
                  values=(readonly this._values)
                  errors=(readonly this.errors)
                  placeholder=this.placeholder
                  readonly=@readonly
                  disabled=@disabled
                  controlId=this.controlId
                  doSubmit=this.doSubmit
                  doReset=this.doReset
                  onChange=this.handleChange
                )
                self=this
              )
              this
            }}
          {{else}}
            {{component
              this.control
              value=(readonly this._value)
              values=(readonly this._values)
              errors=(readonly this.errors)
              placeholder=@placeholder
              readonly=@readonly
              disabled=@disabled
              controlId=this.controlId
              doSubmit=this.doSubmit
              doReset=this.doReset
              onChange=this.handleChange
            }}
          {{/if}}

          <CommitButtons
            @visible={{this._showConfirm}}
            @isActing={{this.form.isSubmitting}}
            @customCommitCancelComponent={{this.customCommitCancelComponent}}
            @buttonClasses={{this.buttonClasses}}
            @commit={{this.commit}}
            @cancel={{this.cancel}}
          />
        </div>

        <ErrorsFor @errors={{this.errors}} @customErrorComponent={{this.customErrorComponent}} />
      </div>
    </AttachPopover>
  {{else}}
    {{#if this._showControl}}
      <div class="field-for-control-container">
        <div class="field-for-control-and-commit-buttons">
          {{#if (hasBlock)}}
            {{yield
              (hash
                control=(component
                  this.control
                  value=(readonly this._value)
                  values=(readonly this._values)
                  errors=(readonly this.errors)
                  placeholder=this.placeholder
                  readonly=@readonly
                  disabled=@disabled
                  controlId=this.controlId
                  doSubmit=this.doSubmit
                  doReset=this.doReset
                  onChange=this.handleChange
                )
                self=this
              )
              this
            }}
          {{else}}
            {{component
              this.control
              value=(readonly this._value)
              values=(readonly this._values)
              errors=(readonly this.errors)
              placeholder=@placeholder
              readonly=@readonly
              disabled=@disabled
              controlId=this.controlId
              doSubmit=this.doSubmit
              doReset=this.doReset
              onChange=this.handleChange
            }}
          {{/if}}

          <CommitButtons
            @visible={{this._showConfirm}}
            @isActing={{this.form.isSubmitting}}
            @customCommitCancelComponent={{this.customCommitCancelComponent}}
            @buttonClasses={{this.buttonClasses}}
            @commit={{this.commit}}
            @cancel={{this.cancel}}
          />
        </div>

        <ErrorsFor @errors={{this.errors}} @customErrorComponent={{this.customErrorComponent}} />
      </div>
    {{/if}}
  {{/if}}
</div>