<div
  class={{
    concat
    "field-for "
    @fieldClasses
    (if this.errors.length " error")
    (if @disabled " disabled")
    (if @readonly " readonly")
    " "
    this._testingClass
    " "
    this.using
    " -field"
  }}
  ...attributes
  data-test-field-for
>
  <LabelFor @label={{@label}} @controlId={{this.controlId}} />
  {{#if this._showValue}}
    <div
      class="field-for-value-container"
      data-tooltip={{@valueTooltip}}
      role="button"
      {{on "click" this.edit}}
    >
      {{#if this.displayValue includeZero=true}}
        {{this.displayValue}}
      {{else}}
        <span class="field-for-placeholder">
          {{@placeholder}}
        </span>
      {{/if}}
    </div>
  {{/if}}

  {{#if this._showControl}}
    <div
      class={{
        concat
        "field-for-control-container "
        (if @hasControlCallout @fieldForControlCalloutClasses)
        " "
        (if @hasControlCallout @calloutPosition)
      }}
    >
      <div class="field-for-control-and-commit-buttons">
        {{#if (hasBlock)}}
          {{yield
            (hash
              control=(component
                this.control
                value=(readonly this._value)
                values=(readonly this._values)
                errors=(readonly this.errors)
                placeholder=this.placeholder
                readonly=this.readonly
                disabled=this.disabled
                controlId=this.controlId
                doSubmit=this.doSubmit
                doReset=this.doReset
                onChange=this.handleChange
              )
              self=this
            )
            this
          }}
        {{else}}
          {{component
            this.control
            value=(readonly this._value)
            values=(readonly this._values)
            errors=(readonly this.errors)
            placeholder=@placeholder
            readonly=this.readonly
            disabled=this.disabled
            controlId=this.controlId
            doSubmit=this.doSubmit
            doReset=this.doReset
            onChange=this.handleChange
          }}
        {{/if}}

        <CommitButtons
          @visible={{this._showConfirm}}
          @isActing={{this.form.isSubmitting}}
          @customCommitCancelComponent={{this.customCommitCancelComponent}}
          @buttonClasses={{this.buttonClasses}}
          @commit={{this.commit}}
          @cancel={{this.cancel}}
        />
      </div>

      <ErrorsFor @errors={{this.errors}} @customErrorComponent={{this.customErrorComponent}} />
    </div>
  {{/if}}
</div>