{{#let (element this.tagName) as |Tag|}}
  <Tag
    @tagName={{this.tagName}}
    class={{
      concat
      "field-for "
      @fieldClasses
      (if this.errors.length " error")
      (if @disabled " disabled")
      (if @readonly " readonly")
      (if this.required " required")
      " "
      this._testingClass
      " "
      this.using
      "-field"
    }}
    {{on "change" (stop-propagation)}}
    ...attributes
    data-test-field-for={{this._testingSelector}}
  >
    {{#unless this.hideDefaultLabel}}
      <LabelFor @label={{@label}} @controlId={{this.controlId}} @infoText={{this.infoText}}/>
    {{/unless}}
    {{#if this._showValue}}
      {{#if this.displayValueComponent}}
        {{component
          this.displayValueComponent
          value=this.value
          editValue=this.edit
          editText=this.editText
          placeholder=this.placeholder
          field=this
          form=@form
        }}
      {{else}}
        <button
          class="
          field-for-value-container
          {{if this._showControl "field-for-value-showing-control-callout"}}"
          data-tooltip={{@valueTooltip}}
          type="button"
          {{on "click" this.edit}}
        >
          {{#if @valueTooltip}}
            <AttachTooltip>
              {{@valueTooltip}}
            </AttachTooltip>
          {{/if}}
          {{#if (or this.displayValue (eq this.displayValue 0))}}
            {{this.displayValue}}
          {{else}}
            <span class="field-for-placeholder">
              {{this.placeholder}}
            </span>
          {{/if}}

          {{#if this.editText}}
            <span class="field-for-edit-text">
              {{this.editText}}
            </span>
          {{/if}}
        </button>
      {{/if}}
    {{/if}}
    {{#if (and this.hasControlCallout this._showControl)}}
      <AttachPopover
        @id={{this.guid}}
        @isShown={{this._showControl}}
        @showOn=""
        @hideOn=""
        @showDuration="0"
        @hideDuration="0"
        @arrow={{true}}
      >
        <div class="field-for-control-container field-for-control-callout">
          <div class="field-for-control-and-commit-buttons">
            {{#if (hasBlock)}}
              {{yield
                (hash
                  control=(component
                    this.control
                    for=this.propertyPath
                    value=(readonly this._value)
                    values=(readonly this._values)
                    errors=(readonly this.errors)
                    placeholder=this.placeholder
                    readonly=@readonly
                    disabled=@disabled
                    required=this.required
                    controlId=this.controlId
                    storeAsPrimitive=this.controlShouldStoreAsPrimitive
                    doSubmit=this.doSubmit
                    doReset=this.doReset
                    onChange=this.handleChange
                  )
                  self=this
                )
                this
              }}
            {{else}}
              {{component
                this.control
                for=this.propertyPath
                value=(readonly this._value)
                values=(readonly this._values)
                errors=(readonly this.errors)
                placeholder=@placeholder
                readonly=@readonly
                disabled=@disabled
                required=this.required
                controlId=this.controlId
                storeAsPrimitive=this.controlShouldStoreAsPrimitive
                doSubmit=this.doSubmit
                doReset=this.doReset
                onChange=this.handleChange
              }}
            {{/if}}

            <CommitButtons
              @visible={{this._showConfirm}}
              @buttonClass={{this.buttonClasses}}
              @isActing={{this.form.isSubmitting}}
              @customCommitCancelComponent={{this.formFor.customCommitCancelComponent}}
              @commit={{this.commit}}
              @cancel={{this.cancel}}
            />
          </div>

          <ErrorsFor
            @errors={{this.errors}}
            @customErrorComponent={{this.formFor.customErrorComponent}}
          />
        </div>
      </AttachPopover>
    {{else}}
      {{#if this._showControl}}
        <div class="field-for-control-container">
          <div class="field-for-control-and-commit-buttons">
            {{#if (hasBlock)}}
              {{yield
                (hash
                  control=(component
                    this.control
                    for=this.propertyPath
                    value=(readonly this._value)
                    values=(readonly this._values)
                    errors=(readonly this.errors)
                    placeholder=this.placeholder
                    readonly=@readonly
                    disabled=@disabled
                    required=this.required
                    controlId=this.controlId
                    storeAsPrimitive=this.controlShouldStoreAsPrimitive
                    doSubmit=this.doSubmit
                    doReset=this.doReset
                    onChange=this.handleChange
                  )
                  label=(component
                    'label-for'
                    label=label
                    controlId=controlId
                    infoText=infoText
                    field=this
                  )
                  self=this
                )
                this
              }}
            {{else}}
              {{component
                this.control
                for=this.propertyPath
                value=(readonly this._value)
                values=(readonly this._values)
                errors=(readonly this.errors)
                placeholder=@placeholder
                readonly=@readonly
                disabled=@disabled
                required=this.required
                controlId=this.controlId
                storeAsPrimitive=this.controlShouldStoreAsPrimitive
                doSubmit=this.doSubmit
                doReset=this.doReset
                onChange=this.handleChange
              }}
            {{/if}}

            <CommitButtons
              @visible={{this._showConfirm}}
              @buttonClass={{this.buttonClasses}}
              @isActing={{this.form.isSubmitting}}
              @customCommitCancelComponent={{this.formFor.customCommitCancelComponent}}
              @commit={{this.commit}}
              @cancel={{this.cancel}}
            />
          </div>

          <ErrorsFor
            @errors={{this.errors}}
            @customErrorComponent={{this.formFor.customErrorComponent}}
          />
        </div>
      {{/if}}
    {{/if}}
  </Tag>
{{/let}}