<button
  class={{concat (if @isActing @buttonActingClass) (if @icon " icon") (if @disabled " disabled")}}
  type="button"
  ...attributes
  data-test-form-button
  {{on "click" (stop-propagation this.handleClick)}}
>
  {{#if @icon}}
    <i class="icon {{@icon}}" data-test-form-button-icon></i>
  {{/if}}

  {{#if (hasBlock)}}
    {{yield}}
  {{else}}
    {{@text}}
  {{/if}}
</button>