<button
  class="{{@buttonClasses}}
    {{if this.isActing @buttonActingClass}}
    {{if @isActing @buttonActingClass}}
    {{if @icon ' icon'}}
    {{if @disabled ' disabled'}}
    "
  type={{if (eq this.buttonType "submit") "submit" "button"}}
  disabled={{@disabled}}
  {{style grid-area=this.gridArea}}
  ...attributes
  data-test-form-button="{{this.buttonType}}"
  {{on "click" (stop-propagation this.handleClick)}}
>
  {{#if @icon}}
    <i class="icon {{@icon}}" data-test-form-button-icon></i>
  {{/if}}

  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@text}}
  {{/if}}
</button>