<button
  class="
  {{@class}}
   {{if this.isActing @buttonActingClass}}
   {{if @icon " icon"}}
   {{if @disabled " disabled"}}
  "
  type="button"
  disabled={{@disabled}}
  ...attributes
  data-test-form-button="{{this.buttonType}}"
  {{on "click" (stop-propagation this.handleClick)}}
>
  {{#if @icon}}
    <i class="icon {{@icon}}" data-test-form-button-icon></i>
  {{/if}}

  {{#if (hasBlock)}}
    {{yield}}
  {{else}}
    {{@text}}
  {{/if}}
</button>