<button
  class="{{@buttonClasses}} {{if @isActing @buttonActingClass}} {{if @icon "icon"}} {{strip-class-names @classNames}} {{if @disabled "disabled"}}"
  type="button"
  ...attributes
  data-test-form-button
  {{on "click" (stop-propagation this.handleClick)}}
>
  {{#if @icon}}
    <i class="icon {{@icon}}"></i>
  {{/if}}

  {{#if (hasBlock)}}
    {{yield}}
  {{else}}
    {{@text}}
  {{/if}}
</button>