{{#if @label}}
  {{#if this.customLabelComponent}}
    {{component
      this.customLabelComponent
      for=@controlId
      label=@label
    }}
  {{else}}
    <label for="{{@controlId}}" ...attributes>
      {{#if (hasBlock)}}
        {{yield controlId}}
      {{else}}
        {{@label}}
      {{/if}}

      {{#if @infoText}}
        {{#if this.formFor.customInfoTextComponent}}
          {{component
            this.formFor.customInfoTextComponent
            infoText=@infoText
          }}
        {{else}}
          <span title="{{@infoText}}">ℹ️</span>
        {{/if}}
      {{/if}}
    </label>
  {{/if}}
{{/if}}
