{{#if @label}}
  {{#if this.customLabelComponent}}
    {{component this.customLabelComponent for=@controlId label=@label}}
  {{else}}
    <label for="{{@controlId}}" data-test-label-for ...attributes>
      {{#if (has-block)}}
        {{yield @controlId}}
      {{else}}
        {{@label}}
      {{/if}}

      {{#if @infoText}}
        {{#if this.formFor.customInfoTextComponent}}
          {{component this.formFor.customInfoTextComponent infoText=@infoText}}
        {{else}}
          <span class="ff-info-text" title="{{@infoText}}">ℹ️</span>
        {{/if}}
      {{/if}}

      {{#if this.showRequiredIndicator}}
        <span class="ff-required-text">{{this.requiredText}}</span>
      {{/if}}
    </label>
  {{/if}}
{{/if}}