<div class="{{config.fieldClasses}} {{if errors.length 'error'}}">
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}

  {{#if hasBlock}}
    {{yield (hash
              control= (component _control
                value=(readonly _value)
                isDisabled=isDisabled
                isReadonly=isReadonly

                onChange=(action handleChange)
              )
            )
    }}
  {{else}}
    {{component _control
                value=(readonly _value)
                isDisabled=isDisabled
                isReadonly=isReadonly

                onChange=(action handleChange)
    }}
  {{/if}}

  {{#unless autoCommit}}
    {{#if dirty}}
      {{commit-buttons
        commit=(action commit)
        cancel=(action cancel)
      }}
    {{/if}}
  {{/unless}}

  <div class="errors">
    {{#each errors as |error|}}
      <div class="error">{{error}}</div>
    {{/each}}
  </div>
</div>
