<div class="{{config.fieldClasses}} {{strip-class-names classNames}} {{if errors.length 'error'}} {{_testingClass}}">

  {{label-for
    label=label
    controlId=controlId
  }}

  {{#if _showValue}}
    <div {{action 'edit' on 'click'}} class="field-for-value-container">
      {{value}}
    </div>
  {{/if}}

  {{#if _showControl}}
    <div class="field-for-control-container {{if has-control-callout
                                                 config.fieldForControlCalloutClasses}} {{callout-position}}">
      {{component _control
                  value=(readonly _value)
                  controlId=controlId

                  onChange=(action handleChange)
      }}

      {{#if hasBlock}}
        {{yield (hash
                  control= (component _control
                    value=(readonly _value)
                    controlId=controlId

                    onChange=(action handleChange)
                  )
                )

                this
        }}
      {{else}}

      {{/if}}

      {{commit-buttons
        visible=_showConfirm

        commit=(action commit)
        cancel=(action cancel)
      }}

      {{errors-for errors=errors}}
    </div>

  {{/if}}


</div>
