<button class="{{config.buttonClasses}} {{if isActing 'is-acting'}} {{strip-class-names classNames}} " {{action onClick}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</button>
