<button class="{{config.buttonClasses}} {{if isActing config.buttonActingClass}} {{if icon 'icon' }} {{strip-class-names
  classNames}} {{if disabled 'disabled'}}" onclick={{action onClick}}>

  {{#if icon}}
    <i class="icon {{icon}}"></i>
  {{/if}}

  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{text}}
  {{/if}}
</button>
