<div class="ff-control-checkbox-select" data-test-ff-control-checkbox-select ...attributes>
  {{#if this._showClearAll}}
    <button
      type="button"
      class="ff-control-checkbox-select__clear-all"
      data-test-ff-control-checkbox-select-clear-all
      {{on "click" this.clearAll}}
    >
      Clear All
    </button>
  {{/if}}

  <div class="ff-control-checkbox-select__values">
    {{#each @values as |value index|}}
      <div
        class="form-controls-ff-checkbox"
        role="button"
        {{on "change" (fn this.handleChange value)}}
      >
        {{#let (compute this.idFor value) as |id|}}
          {{! template-lint-disable no-nested-interactive }}
          <input
            value="true"
            type="checkbox"
            id="{{id}}"
            checked={{compute this.isSelected value}}
            disabled={{@disabled}}
            data-test-ff-control-checkbox-select-input={{index}}
          />
          <label for="{{id}}">
            {{compute this.labelFor value}}
          </label>
        {{/let}}
      </div>
    {{/each}}
  </div>
</div>