<div class="checkbox" ...attributes role="button" {{on "change" this.handleChange}}>
  {{! template-lint-disable no-nested-interactive  }}
  <input
    value="true"
    type="checkbox"
    id="{{this.id}}"
    checked={{@value}}
    disabled={{@disabled}}
    data-test-ff-control-checkbox
  />
  <label for="{{this.id}}" data-test-ff-control-checkbox-label>
    {{@label}}
  </label>
</div>