{{#each @values as |item|}}
  <div class="form-controls-ff-radio">
    <input
      type="radio"
      name="{{@for}}"
      value="{{item.id}}"
      id="{{@for}}-{{item.id}}"
      ...attributes
      data-test-ff-control-radio
      data-test-ff-control-radio-option="{{item.id}}"
      {{on "change" this.handleChange}}
    />
    <label for="{{@for}}-{{item.id}}">
      {{item.label}}
    </label>
  </div>
{{/each}}