{{#each @values as |item|}}
  <div class="form-controls-ff-radio">
    {{#let (compute this.idFor item) as |id|}}
      <input
        type="radio"
        name="{{@for}}"
        value="{{id}}"
        id="{{@for}}-{{id}}"
        ...attributes
        data-test-ff-control-radio
        data-test-ff-control-radio-option="{{id}}"
        disabled={{@disabled}}
        {{on "change" this.handleChange}}
      />
      <label for="{{@for}}-{{id}}">
        {{compute this.labelFor item}}
      </label>
    {{/let}}
  </div>
{{/each}}