<select
  id={{@controlId}}
  value={{this.selected}}
  disabled={{@disabled}}
  ...attributes
  data-test-ff-control-select
  {{on "change" this.handleChange}}
>
  {{#each this.values as |item index|}}
    <option value={{compute this.idFor item}} data-test-ff-control-select-option={{index}}>
      {{compute this.labelFor item}}
    </option>
  {{/each}}
</select>